<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "htpp://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases >
        <typeAlias type="com.learn.ssm.pojo.Role" alias="role"/>
    </typeAliases>
    <environments default="">
        <environment id="">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
    </environments>
</configuration>